@import '../../../../styles/variable.scss';

.sliderLogoesSehat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19.86px 0px;

    .topLogoes {
        display: flex;
        align-items: center;

        div {
            img {
                margin: 0 auto;
            }
        }
    }
}