@import '../../styles/variable.scss';

$breakpoint-sm: 767px;

.modal_citiesScroll {
    height: 538px;
    overflow-y: auto;
    margin-right: 7px;

    &::-webkit-scrollbar {
        width: 4px;
    }


    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: #D9D9D9;
    }

    @media (max-width : 768px) {
        height: 538px;
    }

    h4 {
        color: #0F345A;
        font-family: $Satoshi-Bold;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        padding-left: 39px;
        padding-right: 39px;

        @media(min-width:0) and (max-width:767px) {
            font-size: 14px;
            padding-left: 0px;
            padding-right: 0px;

        }
    }

}

.icontop {
    position: relative;
    top: -3px;
    width: 25.6px;
    height: 25.6px;
}

.modalCityandspecilities {
    width: 536px !important;

    .modalCityandspecilitiesBox {
        width: 100%;
        // max-width: 365px;
        margin: auto;
        padding-top: 25.36px;
        padding-bottom: 10.36px;

        @media(min-width:0px) and (max-width:768px) {
            padding-left: 20px;
            padding-right: 20px;

        }

        h3 {
            color: #0F345A;
            font-family: "Satoshi-Medium";
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            padding-top: 12px;
            padding-left: 39px;
            padding-right: 39px;
            margin-bottom: 20px;
            text-align: left;

            @media(min-width:0) and (max-width:767px) {

                padding-left: 0px;
                padding-right: 0px;
                font-size: 20px;

            }
        }

        hr {
            border-top: 1px solid #E5E3E3;
            width: 85%;
            margin-left: auto;
            margin-right: auto;

            @media(min-width:0) and (max-width:767px) {
                width: 100%;
            }
        }

        .wrapingContainer {

            .mobileSearchBar {
                margin-left: 39px;
                margin-right: 39px;
                width: auto;
                height: 54.2px;
                flex-shrink: 0;
                border-radius: 100px;
                background: #F7F8F9;
                display: flex;
                padding-left: 14px;
                align-items: center;
                margin-bottom: 20px;

                @media(min-width:0) and (max-width:767px) {
                    height: 35px;
                    margin-bottom: 14px;
                    margin-left: 0px;
                    margin-right: 0px;
                }

                .searchIconMobile {
                    width: 19.2px;
                    height: 19.2px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_2148_68737)'%3E%3Cpath d='M15.5006 14.0006H14.7106L14.4306 13.7306C15.6306 12.3306 16.2506 10.4206 15.9106 8.39063C15.4406 5.61063 13.1206 3.39063 10.3206 3.05063C6.09063 2.53063 2.53063 6.09063 3.05063 10.3206C3.39063 13.1206 5.61063 15.4406 8.39063 15.9106C10.4206 16.2506 12.3306 15.6306 13.7306 14.4306L14.0006 14.7106V15.5006L18.2506 19.7506C18.6606 20.1606 19.3306 20.1606 19.7406 19.7506C20.1506 19.3406 20.1506 18.6706 19.7406 18.2606L15.5006 14.0006ZM9.50063 14.0006C7.01063 14.0006 5.00063 11.9906 5.00063 9.50063C5.00063 7.01063 7.01063 5.00063 9.50063 5.00063C11.9906 5.00063 14.0006 7.01063 14.0006 9.50063C14.0006 11.9906 11.9906 14.0006 9.50063 14.0006Z' fill='%2319B3B5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2148_68737'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    margin-right: 8px;
                    margin-left: 5px;
                }

                .inputMobileSearch {
                    border: none;
                    outline: none;
                    background-color: transparent;
                    padding: 0px 0px 0px 4px;
                    color: #0F345A;
                    font-family: 'Satoshi-Medium';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-family: 'Satoshi-Regular';
                    font-size: 16px !important;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    @media(min-width:0px) and (max-width:768px) {
                        font-size: 14px !important;
                    }

                    &::placeholder {
                        color: #0F345A;
                        font-family: 'Satoshi-Regular';
                        font-size: 16px !important;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        @media(min-width:0px) and (max-width:768px) {
                            font-size: 14px !important;
                        }
                    }
                }

                .inputMobileSearch::placeholder {
                    color: #0F345A;
                    font-family: 'Satoshi-Medium';
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }


            .no_results_wrapper {
                width: 100%;
                height: 601px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10px;
                padding: 0px 34px;

                @media(min-width:0px) and (max-width:768px) {
                    padding: 0px 0px;
                }

                .headNo {
                    color: #0F345A;
                    font-family: 'Satoshi-Medium';
                    font-size: 26px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    margin-top: -82px;
                    word-spacing: 0px;

                    @media(min-width:0px) and (max-width:768px) {
                        font-size: 18px !important;
                    }
                }

                span {
                    &:nth-child(2) {
                        color: #0F345A;
                        text-align: center;
                        font-family: 'Satoshi-Medium';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }
                }
            }

            .results_wrapper {
                width: 100%;
                height: 601px;
                overflow-y: scroll;
                padding: 0 40px;

                &::-webkit-scrollbar {
                    display: none;
                }

                @media(min-width:0) and (max-width:767px) {
                    padding: 0 0px;
                }

                .single_result {
                    width: 100%;
                    height: 63px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-right: 30px;
                    padding-left: 14px;
                    border-bottom: 0.5px solid #D2D8E3;
                    margin: auto;
                    margin-bottom: 2px !important;

                    .firstWrap {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        img {
                            width: 24px;
                            height: 24px;

                            object-fit: cover;
                        }

                        span {
                            color: #0F345A;
                            font-family: 'Satoshi-Medium';
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: 140%;
                            /* 19.6px */
                        }

                    }

                    span {
                        color: #727272;
                        text-align: right;
                        font-family: 'Satoshi-Medium';
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 140%;
                        /* 16.8px */
                    }
                }
            }


            .viewed {
                color: #0F345A;
                font-family: 'Satoshi-Medium';
                font-size: 14px;
                font-style: normal;
                font-weight: 450;
                line-height: normal;
                text-align: left;
                padding-left: 16px;
                word-spacing: 0px;
                margin-bottom: 20px;
                word-spacing: -3px;

            }

            ul {
                &::-webkit-scrollbar {
                    width: 4px;
                }


                &::-webkit-scrollbar-thumb {
                    border-radius: 4px;
                    background: #D9D9D9;
                }
            }

            .list_01 {
                padding: 34px 0 0 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                overflow-x: hidden;
                height: 342px;
                flex-shrink: 0;
                border-radius: 24px;
                background: #FFF;
                box-shadow: 0px 0px 28.5px 2px rgba(238, 238, 238, 0.60);
                justify-content: center;
                // align-items: center;
                margin: auto;
                margin-bottom: 22px !important;
                margin-top: 20px;
                width: 446px;

                @media(min-width:0) and (max-width:767px) {
                    height: 226px;
                    width: auto;
                    padding-top: 21px;
                    margin: 15px auto 15px auto;
                    box-shadow: 0px 0px 18.078px 1.269px rgba(238, 238, 238, 0.60);
                }

                li {
                    width: 33.333%;
                    text-align: center;
                    margin-bottom: 18px;
                    position: relative;

                    input[type="radio"] {
                        opacity: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0px;
                        z-index: 9;
                        cursor: pointer;
                    }

                    input[type="radio"]:checked+label {
                        color: #19B3B5;

                        text-align: center;
                        font-family: 'Satoshi-Medium';
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        span {
                            border-radius: 8px;
                            border: 2.13px solid #0F345A;
                            box-shadow: 0px 4.56px 22.8px 0px rgba(238, 238, 238, 0.60);
                            background: #FFF;

                            img.checkImage {
                                opacity: 1;
                                left: 1px;
                                top: 1px;
                            }
                        }
                    }

                    label {
                        color: #0F345A;
                        text-align: center;
                        font-family: 'Satoshi-Medium';
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 450;
                        line-height: normal;
                        cursor: pointer;

                        span {
                            position: relative;
                            width: 85px;
                            height: 85px;
                            flex-shrink: 0;
                            border-radius: 8px;
                            background: #F5F7FB;
                            display: block;
                            margin: 0 auto 10px auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            @media(min-width:0px) and (max-width:768px) {
                                width: 54px;
                                height: 54px;
                            }

                            img {
                                margin-top: 0 !important;
                                width: auto;
                            }

                        }

                        img.checkImage {
                            opacity: 0;
                            left: 0;
                            top: 0;
                            position: absolute;
                        }

                        svg {
                            margin: 0 auto;
                            display: block;
                        }
                    }
                }
            }

            .list_02 {
                padding: 0;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                padding-left: 39px;
                padding-right: 39px;

                @media(min-width:0) and (max-width:767px) {

                    padding-left: 0px;
                    padding-right: 0px;
                }

                &::-webkit-scrollbar {
                    display: none;
                }

                li {
                    width: 100%;
                    text-align: left;
                    padding: 14px 0;
                    position: relative;
                    border-bottom: 1px solid #E5E3E3;

                    input[type="radio"] {
                        opacity: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }

                    label {
                        cursor: pointer;
                        position: relative;
                        padding-left: 37px;
                        color: #0F345A;
                        font-family: 'Satoshi-Regular';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        span {
                            &:after {
                                content: '';
                                width: 19.2px;
                                height: 19.2px;
                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_3713_17749)'%3E%3Cpath d='M11.2227 2C5.70266 2 1.22266 6.48 1.22266 12C1.22266 17.52 5.70266 22 11.2227 22C16.7427 22 21.2227 17.52 21.2227 12C21.2227 6.48 16.7427 2 11.2227 2ZM11.2227 20C6.80266 20 3.22266 16.42 3.22266 12C3.22266 7.58 6.80266 4 11.2227 4C15.6427 4 19.2227 7.58 19.2227 12C19.2227 16.42 15.6427 20 11.2227 20Z' fill='%23989898'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_3713_17749'%3E%3Crect width='24' height='24' fill='white' transform='translate(-0.777344)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: absolute;
                                left: 0;
                                top: 2px;
                            }

                            img.checkImage {
                                opacity: 0;
                                position: absolute;
                                width: 26px;
                                height: 26px;
                                left: -1px;
                            }

                        }




                    }

                    input[type="radio"]:checked+label {


                        span {
                            &:after {
                                display: none;
                            }

                            svg {
                                border-radius: 8px;
                                border: 2px solid #19B3B5;
                                background: #FFF;
                                box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.60);

                                rect {
                                    fill: #fff;
                                }

                                path {
                                    fill: #19B3B5
                                }
                            }

                            img.checkImage {
                                opacity: 1;
                                left: 2px;
                                top: 0px;
                                position: absolute;
                            }
                        }
                    }
                }
            }
        }
    }
}