@import '../../../../styles/variable.scss';

.ourStatistics {
    width: 100%;
    padding-top: 10px;

    @media(min-width:1301px) and (max-width:1919px) {
        padding-top: 60px;
    }
    @media(min-width:0) and (max-width:767px) {
        padding-top: 40px !important;
        .row{
            .or4{
                order: 4;
            }
            .or3{
                order: 3;
            }
            .or5{
                order: 5;
            }
            .or6{
                order: 6;
            }
        }
    }

    h1 {
        color: #0F345A;
        text-align: center;
        font-family: $Satoshi-Bold;
        font-size: 68px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin-bottom: 20px;
        padding: 0 2rem;
        @media(min-width:0) and (max-width:767px) {
            font-size: 32px;
        }
    }

    .boxes {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .box1 {
            // width: 199px;
            height: 323px;
            flex-shrink: 0;
            border-radius: 40px;
            border: 0.359px rgba(15, 52, 90, 0.10);
            // background: radial-gradient(95.1% 106.1% at 11.56% 11.71%, rgba(131, 185, 255, 0.15)0%, rgba(84, 147, 229, 0.15)100%), #FFF;
            display: flex;
            flex-direction: column;
            gap: 8.31px;
            padding-top: 27px;
            padding-left: 24px;
            padding-right: 24px;

            h2 {
                color: $dark-bluecolor;
                font-family: $Satoshi-Bold;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;

                @media(min-width:1301px) and (max-width:1919px) {
                    font-size: 34px;
                }
            }

            p {
                color: #313131;
                font-family: $Satoshi-Regular;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .line_up {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='168' height='146' viewBox='0 0 168 146' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M148.081 28.2507C155.871 28.2507 162.185 21.9357 162.185 14.1458C162.185 6.35596 155.871 0.0410156 148.081 0.0410156C140.291 0.0410156 133.976 6.35596 133.976 14.1458C133.976 21.9357 140.291 28.2507 148.081 28.2507ZM148.081 25.2272C154.201 25.2272 159.163 20.2655 159.163 14.1449C159.163 8.02424 154.201 3.0625 148.081 3.0625C141.96 3.0625 136.998 8.02424 136.998 14.1449C136.998 20.2655 141.96 25.2272 148.081 25.2272Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M148.081 28.2507C155.871 28.2507 162.185 21.9357 162.185 14.1458C162.185 6.35596 155.871 0.0410156 148.081 0.0410156C140.291 0.0410156 133.976 6.35596 133.976 14.1458C133.976 21.9357 140.291 28.2507 148.081 28.2507ZM148.081 25.2272C154.201 25.2272 159.163 20.2655 159.163 14.1449C159.163 8.02424 154.201 3.0625 148.081 3.0625C141.96 3.0625 136.998 8.02424 136.998 14.1449C136.998 20.2655 141.96 25.2272 148.081 25.2272Z' fill='%230F345A' fill-opacity='0.2'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M149.313 16.373L84.3343 112.446C82.112 115.731 77.7085 116.706 74.307 114.665L45.0151 97.09C43.8899 96.4149 42.4338 96.7293 41.6874 97.8085L9.90936 143.753C9.12736 144.883 7.57691 145.166 6.44631 144.384C5.31572 143.602 5.03312 142.051 5.81512 140.921L37.5931 94.9766C39.8325 91.739 44.2007 90.7959 47.5764 92.8213L76.8683 110.396C78.0021 111.077 79.4699 110.752 80.2107 109.657L145.189 13.584L149.313 16.373Z' fill='url(%23paint0_linear_977_8815)'/%3E%3Ccircle cx='148.081' cy='14.1466' r='8.29695' fill='%230F345A'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_977_8815' x1='77.3429' y1='13.584' x2='77.3429' y2='144.826' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.16' stop-color='%230F345A'/%3E%3Cstop offset='1' stop-color='%230F345A' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                display: block;
                width: 100%;
                height: 208px;
            }
        }

        .box2 {
            // width: 200px;
            height: 280px;
            flex-shrink: 0;
            border-radius: 40px;
            border: 0.359px rgba(15, 52, 90, 0.10);
            padding-bottom: 25px;
            display: flex;
            flex-direction: column;
            padding: 22px 14px 0px 14px;


            .arrow_up {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='28' viewBox='0 0 27 28' fill='none'%3E%3Cpath d='M12.2628 24.8967V7.00293L7.17401 12.0641L5.62524 10.5153L13.3691 2.77148L21.1129 10.5153L19.5641 12.0917L14.4753 7.00293V24.8967H12.2628Z' fill='%230F345A'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: block;
                width: 32px;
                height: 32px;
            }

            h2 {
                color: #0F345A;
                font-family: $Satoshi-Bold;
                font-size: 26px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                margin-bottom: 23.42px;
                margin-top: 12.45px;
            }

            h3 {
                color: #0F345A;
                text-align: right;
                font-family: $Satoshi-Bold;
                font-size: 19px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                margin-bottom: 5px;
                /* 22.8px */
            }

            p {
                width: 150px;
                margin-left: auto;
                color: #0F345A;
                text-align: right;
                font-family: $Satoshi-Regular;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                margin-bottom: 14.44px;
            }
        }

        .box3 {
            // width: 200px;
            height: 200px;
            flex-shrink: 0;
            border-radius: 24.891px;
            box-shadow: 0px -3.319px 16.594px 0px rgba(15, 52, 90, 0.08);
            padding-top: 21.83px;
            padding-left: 21.57px;
            gap: 12px;

            h2 {
                color: #0F345A;
                font-family: $Satoshi-Bold;
                font-size: 44px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                margin-top: 32px;

                @media(min-width:1301px) and (max-width:1919px) {
                    font-size: 34px;
                }

                @media(min-width:0px) and (max-width:768px) {
                    margin-top: 0px !important;
                }
            }

            span {
                color: #0F345A;
                font-family: $Satoshi-Regular;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                @media(min-width:0) and (max-width:767px) {
                    padding-left: 0;

                }
            }
        }

        .box22 {
            // width: 200px;
            padding-left: 20px;
            height: 280px;
            flex-shrink: 0;
            border-radius: 33.188px;
            border: 0.359px rgba(15, 52, 90, 0.10);
            padding-top: 29px;
            display: flex;
            flex-direction: column;
            gap: 8.3px;
            position: relative;
            @media(min-width:0) and (max-width:767px) {
                padding-left: 12px;
                height: 250px;
                border-radius: 25.203px;
                padding-top: 18px;
            }

            h2 {
                color: #0F345A;
                font-family: $Satoshi-Bold;
                font-size: 44px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;

                @media(min-width:1301px) and (max-width:1919px) {
                    font-size: 34px;

                }
                @media(min-width:0px) and (max-width:767) {
                    font-size: 36px;
                    display: flex;
                    align-items: start;
                    justify-content: start;
                    text-align: left !important;
                }
            }

            span {
                color: #0F345A;
                font-family: $Satoshi-Regular;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 164px;   
            }

            .doc__img_sta {
                width: 97.904px;
                height: 124.454px;
                flex-shrink: 0;
                object-fit: contain;
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }

        .boxPrem {
            // width: 200.786px;
            height: 390px;
            flex-shrink: 0;
            border-radius: 24.891px;
            box-shadow: 0px -3.319px 16.594px 0px rgba(15, 52, 90, 0.08);
            display: flex;
            flex-direction: column;
            padding-top: 29px !important;
            position: relative;
            @media(min-width:0) and (max-width:767px) {
                height: 250px;

            }

            .box__bottom {
                padding: 20px 0 0 24px;
                // width: 132.751px;
                height: 91.266px;
                flex-shrink: 0;
                border-radius: 12.445px 12.445px 0px 0px;
                background: linear-gradient(0deg, #ECFDFF 0%, #ECFDFF 100%), #FFF;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                margin: auto;
                display: flex;
                justify-content: start;
                flex-direction: column;
                align-items: start;
                padding-bottom: 15.18px;
                padding-top: 14.93px;

                h3 {
                    color: $dark-bluecolor;
                    font-family: $Satoshi-Bold;
                    font-size: 24px;
                    font-style: normal;
                    line-height: 120%;
                    margin-bottom: 5px;
                    @media(min-width:0) and (max-width:767px) {
                        font-size: 14px;
                        text-align: left;
                    }
                }

                span {
                    color: $dark-bluecolor;
                    font-family: $Satoshi-Regular;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    width: 82% !important;
                    text-align: start;
                    padding-left: 0;
                    @media(min-width:0) and (max-width:767px) {
                        font-size: 10px;
                    }
                }

            }

            .title_prem {
                color: #0F345A;
                font-family: $Satoshi-Bold;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                margin-left: 20px;
                width: 65%;
                @media(min-width:0) and (max-width:767px) {
                    font-size: 18px;
                    text-align: left;
                }
            }

            .box__pre_sh {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;

                .box_ra1 {
                    width: 50%;
                    height: 224px;
                    flex-shrink: 0;
                    border-radius: 0px 0px 0px 24.891px;
                    background: rgba(231, 240, 252, 0.60);
                    padding-top: 12.79px;
                    display: flex;
                    padding-left: 20px;
                    padding-top: 20px;
                    flex-direction: column;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @media(min-width:0) and (max-width:767px) {
                        height: 143.471px;
                        padding: 9px 0 0 10px;
                    }

                    h2 {
                        color: #0F345A;
                        font-family: $Satoshi-Bold;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        margin-bottom: 5px;
                    }

                    p {
                        color: #0F345A;
                        font-family: $Satoshi-Regular;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        width: 71px;
                        @media(min-width:0) and (max-width:767px) {
                            font-size: 10px;
                        }
                    }
                }

                .box_ra2 {
                    width: 50%;
                    height: 265px;
                    flex-shrink: 0;
                    border-radius: 16.594px 0px 24.891px 0px;
                    background: rgba(193, 217, 248, 0.60);
                    display: flex;
                    flex-direction: column;
                    padding-top: 30px;
                    padding-left: 30px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    @media(min-width:0) and (max-width:767px) {
                        height: 169.731px;
                        padding: 9px 0 0 11px ;
                    }

                    h2 {
                        color: #0F345A;
                        font-family: $Satoshi-Bold;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        /* 22.8px */
                        @media(min-width:0) and (max-width:767px) {
                            font-size: 14px;
                            text-align: left;
                        }
                    }

                    p {
                        color: #0F345A;
                        font-family: $Satoshi-Regular;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        width: 71px;
                        /* 16.8px */
                        @media(min-width:0) and (max-width:767px) {
                            font-size: 10px;
                        }
                    }
                }

            }


        }
    }

    .wrape_infoPricingPage {
        width: auto;
        @media(min-width:0) and (max-width:767px) {
            gap: 10px 0;
        }

        .box1 {
            height: 390px;
            @media(min-width:0) and (max-width:767px) {
                height: 140px;
                flex-direction: row;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 19px;
                img{
                    width: 115.429px;
                    height: 100px;
                }
            }

            h2 {
                text-transform: capitalize;
                font-size: 44px;
                @media(min-width:0) and (max-width:767px) {
                    font-size: 36px;
                    text-align: left;
                }

                @media(min-width:1301px) and (max-width:1919px) {
                    font-size: 34px;

                }
            }

            p {
                font-size: 16px;
                width: 172px;
                @media(min-width:0) and (max-width:767px) {
                    font-size: 16px;
                    width: 100%;
                }
            }
        }

        .box2 {
            height: 280px;
            @media(min-width:0) and (max-width:767px) {
                height: 157px;
                padding: 12px 10px;
                border-radius: 20px;
            }

            h2 {
                text-transform: capitalize;
                font-size: 28px;

                @media(min-width:1301px) and (max-width:1919px) {
                    font-size: 24px;
                }

                @media(min-width:0) and (max-width:767px) {
                    font-size: 18px;
                    text-align: left;
                    margin-bottom: 10px;
                    margin-top: 8px;
                }
            }

            h3 {
                font-size: 20px;

                @media(min-width:1301px) and (max-width:1919px) {
                    font-size: 18px;

                }
                @media(min-width:0) and (max-width:767px) {
                    font-size: 14px;

                }
            }

            p {
                font-size: 14px;
                @media(min-width:0) and (max-width:767px) {
                    font-size: 12px;
                    width: 100%;
                }


            }

            .progressBar {
                background-color: rgba(255, 255, 255, 1);

                div {
                    // background-color: rgba(254, 141, 116, 1);
                }
            }
            img{
                @media(min-width:0) and (max-width:767px) {
                    width: 18px;
                    height: 18px;
                }
            }
        }

        .box3 {
            height: 200px;
            @media(min-width:0) and (max-width:767px) {
                height: 157px;
                padding-bottom: 22px;
                border-radius: 20px;

            }

            h2 {
                text-transform: capitalize;
                font-size: 44px;

                @media(min-width:1301px) and (max-width:1919px) {
                    font-size: 34px;

                }
                @media(min-width:0) and (max-width:767px) {
                    font-size: 36px;
                    text-align: left;
                    margin-top: 26px;

                }
            }

            p {
                font-size: 14px;
            }
        }

        .box4 {
            height: 224px;



            h2 {
                text-transform: capitalize;
                font-size: 38px;

                @media(min-width:1301px) and (max-width:1919px) {
                    font-size: 24px;

                }
            }

            p {
                font-size: 16px;
            }
        }

        .boxPrem {
            h2 {
                font-size: 24px;
            }

            .box__pre_sh {
                .box_ra1 {
                    h2 {
                        font-size: 22px;
                        @media(min-width:0) and (max-width:767px) {
                            font-size: 14px;
                            text-align: left;
                        }
                    }


                }
            }

            .box__bottom {
                width: 184px;
                height: 110px;
                @media(min-width:0) and (max-width:767px) {
                    height: 70.455px;
                    width: 102.479px;
                    padding: 11px 0 0 12px;
                }

                h3 {
                    width: 90%;
                    text-align: start;
                }
            }
        }
    }
}