.wrapperRewardCard {
    width: 100%;
    height: 410px;
}

.noCreditsWrapper {
    width: 484px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.noCreditsWrapper span {
    color: #6E737D;
    text-align: center;
    font-family: 'Satoshi-Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.wrapperAvailableCards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
    height: 400px;
    overflow-y: auto;
}

.wrapperAvailableCards::-webkit-scrollbar {
    display: none;
}

.singleCard {
    width: 100%;
    min-width: 450px;
    max-width: 450px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(195, 204, 216, 0.30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
}

.price {
    display: flex;
    flex-direction: column;

}

.pkr {
    color: #0F345A;
    font-family:  'Satoshi-Medium';
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.specPrice {
    color: #0F345A;
    font-family:'Satoshi-Medium';
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.details {
    color: #A7A7A7;
    font-family: 'Satoshi-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}


.reedemBtn {
    display: flex;
    width: 134px;
    height: 34px;
    padding: 13.565px 10.174px;
    justify-content: center;
    align-items: center;
    gap: 11.304px;
    flex-shrink: 0;
    border-radius: 9.043px;
    border: 1.13px solid #19B3B5;
    color: #19B3B5;
    font-family: 'Satoshi-Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}


@media (max-width : 768px) {
    .singleCard {
        width: 100%;
        min-width: 320px;
        max-width: 320px;
        height: 90px;
    }

    .pkr {
        font-size: 20px !important;
        font-weight: 500;
        /* word-spacing: -5px; */
    }

    .specPrice {
        font-size: 30px;
        font-weight: 500;    font-family: 'Satoshi-Bold';
    }

    .details {
        font-size: 12px;
        font-weight: 300;
    }
.specPrice{
    font-family: 'Satoshi-Bold';
}
    .reedemBtn {
        width: unset;
        height: 30px;
        padding: 12px 9px;
        border-radius: 8px;
        border: 1px solid #19B3B5;
        font-size: 12px;
        font-weight: 450;         font-family: 'Satoshi-Medium';   border-radius: 15px;
    }

    .wrapperAvailableCards {
        background-color: #fff;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}


@media (max-width : 768px) {
    .noCreditsWrapper {
        width: 100%;
    }

    .noCreditsWrapper img {
        width: 65.2px;
        height: 42.5px;
    }

    .noCreditsWrapper span {
        font-size: 15px;
    }

    
}