@import '../../../../styles/variable.scss';

.getHelp {
    width: 100%;
    background-color: #FFF;
    padding-top: 120px;


    .wrape__getHelp {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        @media(min-width:0) and (max-width:767px) {
            gap: 0;
        }

        h1 {
            width: 100%;
            color: $dark-bluecolor;
            font-family: $Satoshi-Bold;
            font-size: 68px;
            font-style: normal;
            font-weight: 700;
                line-height: 120%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(min-width:0) and (max-width:767px) {
                font-size: 32px;
                margin-bottom: 15px;
            }

        }

        p {
            color: #0F345A;
            text-align: center;
            font-family: $Satoshi-Regular;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media(min-width:0) and (max-width:767px) {
                font-size: 16px;
                width: 324px;
            }
        }
    }

}