@import '../../../styles/variable.scss';


.HeadingPolicyPages {

    .groupedHeading {
        h1 {
            font-family: $Satoshi-Medium;
            font-size: 46px;
            font-weight: 500;
            line-height: 55.2px;
            text-align: left;
            color: #0F345A;
            ;
        }
    }

}