@import '../../../../styles/variable.scss';

.exploreDiabetesSec {
    h1 {
        color: #0F345A;
        text-align: center;
        font-family: "Satoshi-Medium";
        font-size: 72px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        margin-bottom: 60px;
    }
}