@import '../../../../styles/variable.scss';

.whatwedo {
    padding: 100px 0;

    @media (min-width:0px) and (max-width:767px) {
        padding: 40px 0;
        text-align: center;
    }

    h2 {
        padding-bottom: 20px;
    }

    p {
        font-size: 26px;
        padding-bottom: 60px;

        @media (min-width:0px) and (max-width:767px) {
            font-size: 16px;
            width: 300px;
            margin: 0 auto;
            padding-bottom: 32px;
        }

    }

    ul {
        li {
            color: #313131;
            font-family: "Satoshi-Regular";
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
            display: flex;
            align-items: center;
            margin-bottom: 40px;

            @media (min-width:0px) and (max-width:767px) {
                margin-bottom: 15px;

                font-size: 18px;

            }


            /* 42px */
            span {
                width: 54px;
                height: 54px;
                display: inline-block;
                margin-right: 32px;
                background-image: url("data:image/svg+xml,%0A%3Csvg width='55' height='54' viewBox='0 0 55 54' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.421875' width='54' height='54' rx='27' fill='%230F345A' fill-opacity='0.1'/%3E%3Cg clip-path='url(%23clip0_7948_150461)'%3E%3Cpath d='M23.7369 35.5L15.3442 26.9678L17.4424 24.8347L23.7369 31.2339L37.2461 17.5L39.3442 19.6331L23.7369 35.5Z' fill='%230F345A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_7948_150461'%3E%3Crect width='24' height='24' fill='white' transform='translate(14.9224 14.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                background-size: contain;
                background-repeat: no-repeat;

                @media (min-width:0px) and (max-width:767px) {
                    margin-right: 23px;
                    width: 39.12px;
                    height: 39.12px;
                }

            }

        }
    }

    .imageBox {
        width: 560.156px;
        height: 716px;
        border-radius: 80px;
        position: relative;
        overflow: hidden;

        @media (min-width:0px) and (max-width:767px) {
            width: 100%;
            height: 410.171px;
            margin-bottom: 32px;
            border-radius: 45.702px 45.702px;

        }

        img {
            @media (min-width:0px) and (max-width:767px) {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        .imageText {
            border-radius: 0px 0px 80px 80px;
            background: #07C597;
            backdrop-filter: blur(2px);
            color: #FFF;
            text-align: center;
            font-family: var(--font-satoshi-bold);
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            padding: 35px 0;
            /* 57.6px */
            position: absolute;
            bottom: 0;

            @media (min-width:0px) and (max-width:767px) {
                font-size: 30px;
                border-radius: 0px 0px 45.702px 45.702px;
                width: 100%;
                height: 114.254px;

                padding: 19px 30px;
            }

        }
    }


}