$Satoshi-Light : 'Satoshi-Light';
$Satoshi-LightItalic : 'Satoshi-LightItalic';
$Satoshi-Regular : 'Satoshi-Regular';
$Satoshi-Medium : 'Satoshi-Medium';
$Satoshi-Bold : 'Satoshi-Bold';
$Satoshi-Black : 'Satoshi-Black';
$dark-bluecolor : #0F345A;
$black-color : #313131;
$font-16 : 16px;